div {
    margin-bottom: 20px;
    
}
h3 {
    display: inline-block;
}
#fio-father {
    display: inline-block;
}
body {
    padding: 20px;
}
.no-need {
	background-color: lightGray;
}
#cherez-kogo {
	margin-top: 20px;
}
#otpusk-razreshil {
	margin-top: 20px;
}
#table-to-insert {
	background-color: pink;
}